.site-header {
	margin-bottom: 3em;
}

.blog {
	.site-header {
		margin-bottom: 0;
	}
}

.page-template-about,
.page-template-home {
	.site-header {
		margin-bottom: 0;
	}
}

.navbar-brand {
	a {
		color: $white;
	}
}