
/*--------------------------------------------------------------
## Layouts
--------------------------------------------------------------*/
@import "layout/content-sidebar";


/*--------------------------------------------------------------
## Templates
--------------------------------------------------------------*/
@import "templates/templates";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "comments";

/*--------------------------------------------------------------
## Posts and Pages
--------------------------------------------------------------*/
@import "posts-and-pages";

/*--------------------------------------------------------------
## Widgets
--------------------------------------------------------------*/
@import "widgets";

/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
@import "header";

/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
@import "footer";

a {
	transition: color 0.1s ease-in, background 0.1s ease-in;
}


.site-content {
	word-break: break-word;
}